@inherits LayoutComponentBase

<div class="main @(IsUserAuthenticated ? "main--authenticated" : null)">
    <div class="main-content">
        <AppErrorBoundary>
            @Body
        </AppErrorBoundary>
    </div>
</div>